/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    margin-top: 150px;
}
.about .content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about .content h4 {
  margin-top: 30px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
  font-weight: 550;
}
.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #18A0FB;
}

.about .content ul p {
  margin-top: 8px;
  margin-left: 29px;
}
.about .content p:last-child {
  margin-bottom: 0;
}

.row {
  justify-content: center;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
  .team {
    background: #fff;
    margin-top: 30px;
  }
  .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
  }
  .team .member .pic {
    overflow: hidden;
    width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
  }
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  .team .member:hover img {
    transform: scale(1.1);
  }
  .team .member h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #36343a;
  }
  .team .member .role {
    color: grey;
    font-size: 15px;
  }
  .team .member .quotes {
    font-size: 15px;
    min-height: 50px;
  }
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b5b3ba;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a8a5ae;
  }
  .team .member .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
  }
  .team .member .social a:hover {
    background: #ffcd38 ;
  }
  .team .member .social a + a {
    margin-left: 8px;
  }